// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
body{
    font-size: 14px !important;
}
.header-top{
    height: 40px;
    position: relative;
    padding: unset !important;
    border-bottom: 1px solid #C4C4C4;
    p{
        margin-bottom: 0;
        display: inline-block;
        width: calc(100% - 40px);
        border-right: 1px solid #C4C4C4;
        margin: 10px 0;
        padding-left: 40px;
    }
    .menu-top{
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        padding: 5px 8px;
    }
}
.header-mid{
    height: 100px;
    position: relative;
    padding: unset !important;
    p{
        margin-bottom: 0;
    }
    .box-center-top-bot{
        position: relative;
        top: 50%;
        transform: translate(0, -50%);
    }
    .title-logo{
        font-size: 32px;
        font-weight: bold;
        padding-left: 40px;
    }
    .text-phone-header{
        font-size: 32px;
        font-weight: bold;
        text-align: center;
    }
    .text-time-header{
        text-align: center;
    }
    .text-faq{
        font-weight: bold;
        text-align: center;
    }
}
.header-bot {
    height: 70px;
    position: relative;
    padding: unset !important;
    border-top: 1px solid #C4C4C4;
    border-bottom: 1px solid #C4C4C4;
    p {
        margin-bottom: 0;
    }
    .horizontal-menu{
        float:right;
        padding: 15px 0;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
        ul{
            list-style-type: none;
            padding: 0;
            float: right;
            margin-bottom: 0;
            li{
                float:left;
                margin: 0 20px;
                a{
                    font-weight: bold;
                    text-decoration: none;
                    color: #212529;
                }
            }
            li.cycle-box{
                padding: 5px;
                border-radius: 50%;
                box-shadow: 0px 0px 5px #0000004d;
            }
            li.rectangle-box{
                padding: 5px;
                border-radius: 50px;
                box-shadow: 0px 0px 5px #0000004d;
            }
        }
    }
}
.box-footer{
    height: 500px;
    background-color: #F39800;
    position: relative;
    z-index: 2;
    .text-group-company{
        text-align: center;
        font-size: 40px;
        font-weight: bold;
        padding: 80px 0;
        color: white;
    }
    .list-group-copany{
        padding: 0 40px;
        .text-list-group{
            width: 400px;
            text-align: center;
            background-color: #B2740A;
            box-shadow: 0px 5px 5px #633F05;
            border-radius: 5px;
            margin-bottom: 25px;
            display:block;
            color: white;
            font-size: 24px;
            text-decoration: none;
        }
    }
    .cp-right{
        text-align: center;
        font-size: 20px;
        color: white;
        padding: 10px 0;
    }
}
.box-footer-top{
    height: 200px;
    background-color: #F39800;
    padding: 0 40px;
    position: relative;
    .list-link-footer-top{
        position: relative;
        /* top: 50%; */
        /* transform: translate(0, -50%); */
        height: 100%;
        padding: 30px 0px;
        border-bottom: 1px solid white;
    }
    a{
        text-decoration: none;
        color: #ffffff;
        font-size: 24px;
    }
}
.box-footer-top-hidden-image{
    height: 200px;
    padding: 0 40px;
    position: relative;
    background-color: tranparents;
    z-index: 2;
    .list-link-footer-top{
        position: relative;
        top:50%;
        transform: translate(0, -50%);
        z-index: 4;
    }
    .image-hidden{
        position: absolute;
        top:0;
        left:0;
    }
    &:before{
        content:"";
        width: 100%;
        height: 100%;
        background-color: white;
        opacity: .7;
        position: absolute;
        top:0;
        left:0;
        z-index: 3;
    }
    a{
        text-decoration: none;
        color: #000;
        font-size: 24px;
        font-weight: bold;
    }
}
.consultation-method-box,.consultation-method-box1{
    padding-bottom: 95px;
    padding-top: 50px;
    .text-title{
        text-align: center;
        display: inline-block;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        margin-bottom: 30px;
        .title-consultation-method{
            font-size: 28px;
            position: relative;
            font-weight: bold;
            display: inline-block;
            margin-bottom: 0;
            padding: 0 10px;
            z-index: 1;
        }
        &:before{
            content:"";
            position:absolute;
            left:0;
            bottom:0;
            height: 50%;
            width: 100%;
            background-color: #FFF3B8;
        }
    }
    .text-des,.text-des1{
        display:flex;
        justify-content: center;
        margin-bottom: 25px;
        .short-des-consultation-method{
            text-align: center;
            font-size: 20px;
            width: 50%;
        }
    }
    .text-des1{
        margin-bottom: 10px;
    }
    .list-consultation-method{
        .image-item,.image-item1{
            position: relative;
            &:before{
                content:"";
                position:absolute;
                left:0;
                top:0;
                width: 100%;
                height: 100%;
                background-color: #000;
                opacity: 0.7;
                border-radius: 10px;
            }
            img{
                width: 100%;
                border-radius: 10px;
            }
            .text-image-item{
                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;
                text-align: center;
                transform: translate(0,-50%);
                .title-image-item,.des-image-item{
                    color: white;
                    font-weight: bold;
                    font-size: 16px;
                }
            }
        }
        .image-item1{
            &:before{
                background-color: #fff;
                opacity: 0.5;
            }
            .text-image-item {
                .title-image-item, .des-image-item {
                    color: #000;
                }
            }
        }
    }
    .btn-consultation-method-box{
        text-align: center;
        margin-bottom: 10px;
        a{
            text-decoration: none;
            padding: 10px 25px;
            display: inline-block;
            color: #fff;
            background-color: #000;
            font-size: 16px;
            font-weight: bold;
        }

    }
}
.consultation-method-box1{
    padding-bottom: 75px;
    padding-top: 40px;
}

.box-list-port{
    padding: 100px 40px;
    .text-title{
        text-align: center;
        display: inline-block;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        margin-bottom: 30px;
        &:before{
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 50%;
            width: 100%;
            background-color: #FFF3B8;
        }
        p{
            font-size: 28px;
            position: relative;
            font-weight: bold;
            display: inline-block;
            margin-bottom: 0;
            padding: 0 10px;
            z-index: 1;
        }
    }
    .time-port{
        color: #999999;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 5px;
    }
    .item-port{
        border-radius: 10px;
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-bottom: 20px;
        position: relative;
        .tag-new-port{
            position: absolute;
            top: -10px;
            right: 0;
            background: #EF0D0D;
            border: 2px solid #FFFFFF;
            border-radius: 10px;
            padding: 0 15px;
            span{
                font-weight: 700;
                font-size: 20px;
                line-height: 40px;
                text-align: center;
                color: #FFFFFF;
            }
        }
        .image-port-main{
            border-radius: 10px;
            width: 100%;
        }
        .item-port-content{
            border-radius: 10px;
            position: relative;
            padding: 20px;
            .ava-heart{
                display: inline-block;
                width: 100%;
                padding: 0 15px 0px;
                .ava-name{
                    position: absolute;
                    top: -30%;
                    left: 20px;
                    transform: translate(0, 50%);
                    text-align: center;
                    img{
                        box-sizing: border-box;
                        width: 60px;
                        height: 60px;
                        border: 3px solid #FFFFFF;
                        border-radius: 50%;
                        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                    }
                    p{
                        margin-bottom: 0;
                    }
                }
                .heart-count{
                    float: right;
                    p{
                        float: right;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 30px;
                        text-align: center;
                        color: #EB3223;
                        margin-left: 5px;
                        margin-bottom: 0;
                    }
                }
            }
            .cate-name{
                a{
                    display: inline-block;
                    border-radius: 50px;
                    padding: 5px 35px;
                    color: white;
                    font-size: 14px;
                    text-align: center;
                    text-decoration: none;
                    margin-bottom: 15px;
                }
            }
            .title-port{
                font-size: 22px;
                font-weight: 400;
                width: 70%;
                margin-bottom: 15px;
            }
            .tag-port{
                ul{
                    margin: 0;
                    padding: 0;
                    list-style-type: none;
                    li{
                        font-size: 16px;
                        color: #999999;
                        font-weight: 700;
                    }
                }
            }
        }
    }
    .btn-readmore-post{
        text-align: center;
        padding: 40px 0;
        a{
            display: inline-block;
            padding: 20px 60px;
            color: #000;
            text-transform: uppercase;
            font-size: 28px;
            font-weight: bold;
            text-align: center;
            text-decoration: none;
            background: #FFFFFF;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
            border-radius: 100px;
        }
    }
}
.list-popular-artice{
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 100px;
    .item-popular-artice{
        padding: 20px 0;
        border-bottom: 1px solid #C4C4C4;
        &:first-child{
            padding-top: 0;
        }
        &:last-child{
            border-bottom: none;
            padding-bottom: 0;
        }
        .img-item-main{
            border-radius: 10px;
            width: 100%;
        }
        .time-heart{
            .time-port{
                float:left;
            }
            .heart-count{
                float: right;
                img{
                    width: 20px;
                    height: 20px;
                }
                p{
                    float: right;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 25px;
                    text-align: center;
                    color: #EB3223;
                    margin-left: 5px;
                    margin-bottom: 0;
                }
            }
        }

        .title-ppa{
            font-weight: 400;
            font-size: 20px;
            line-height: 40px;
            color: #000000;
            text-decoration: none;
        }
    }
}
.swiper {
    width: 100%;
    height: 100%;
    //padding-top: 30px !important;
    //padding-bottom: 30px !important;
}
.swiper-wrapper{
    //padding: 12px 0;
}
.swiper-slide-banner{
    border-radius: 20px;
    box-shadow: 0 2px 10px #999999;
    width: auto !important;
}
.swiper-slide-service{
    width: auto !important;
}
.swiper-slide {
    //text-align: center;
    //font-size: 18px;
    background: #fff;
    position: relative;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
    .box-image-slide{
        position:absolute;
        left:0;
        top:0;
        width: 100%;
        height: 100%;
        .box-category-title{
            position:absolute;
            left:20px;
            top:15px;
            a{
                display: inline-block;
                padding: 5px 15px;
                font-size: 10px;
                background-color: #2DAD00;
                text-decoration: none;
                color: #fff;
                border-radius: 50px;
            }
            .title-image{
                font-weight: bold;
                font-size: 16px;
                width: 80%;
                margin-top: 10px;
            }
        }
        .tag-image-bot-left{
            position:absolute;
            left:20px;
            bottom:20px;
            ul{
                margin-bottom: 0;
                padding: 0;
                list-style-type: none;
                li{
                    border-radius: 5px;
                    border: 1px solid #C4C4C4;
                    margin-top: 10px;
                    position: relative;
                    &:before{
                        content:"";
                        position:absolute;
                        top:0;
                        left:0;
                        background-color: #fff;
                        opacity: 0.5;
                        width: 100%;
                        height: 100%;
                    }
                    span{
                        font-size: 12px;
                        font-weight: bold;
                        margin: 0 15px;
                        padding: 6px 0;
                        position: relative;
                        display: inline-block;
                    }
                }
            }
        }
        .tag-image-top-right{
            position:absolute;
            right:20px;
            top:20px;
            ul{
                margin-bottom: 0;
                padding: 0;
                list-style-type: none;
                li{
                    margin-bottom: 5px;
                    a{
                        font-size: 12px;
                        font-weight: bold;
                        color: #fff;
                        display: inline-block;
                        padding: 2px 10px;
                        text-decoration: none;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}
.text-title{
    text-align: center;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: 30px;
    &:before{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 50%;
        width: 100%;
        background-color: #FFF3B8;
    }
    p{
        font-size: 28px;
        position: relative;
        font-weight: bold;
        display: inline-block;
        margin-bottom: 0;
        padding: 0 10px;
        z-index: 1;
    }
}
.list-popular-keywords{
    margin-bottom: 100px;
    .text-title{
        text-align: center;
        display: inline-block;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        margin-bottom: 30px;
        &:before{
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 50%;
            width: 100%;
            background-color: #FFF3B8;
        }
        p{
            font-size: 28px;
            position: relative;
            font-weight: bold;
            display: inline-block;
            margin-bottom: 0;
            padding: 0 10px;
            z-index: 1;
        }
    }
    .list-keywords{
        ul{
            margin: 0;
            padding: 0;
            list-style-type: none;
            li{
                float:left;
                a{
                    text-decoration: none;
                    padding: 0px 25px;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 33px;
                    color: #000000;
                    background: #E9E9E9;
                    display: inline-block;
                    box-shadow: 0px 2px 10px rgb(0 0 0 / 25%);
                    border-radius: 60px;
                    margin-right: 15px;
                    margin-bottom: 15px;
                }
            }
        }
    }
}
.list-chosse-cate{
    padding: 60px 40px;
    background-color: #F5F5F5;
    .list-cate{
        .item-cate{
            background: #EE4E4E;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
            border-radius: 100px;
            padding: 10px;
            margin-bottom: 50px;
            .text-cate{
                display: flex;
                justify-content: center;
                img{
                    width: 50px;
                    height: 50px;
                    margin-right: 20px;
                }
                p{
                    font-weight: 700;
                    font-size: 26px;
                    line-height: 40px;
                    text-align: center;
                    color: #FFFFFF;
                    position: relative;
                    display: inline-block;
                    margin: 0;
                    &:after{
                        content: "";
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        width: calc(100% - 70px);
                        height: 5px;
                        background-color: #FFF3B8;
                    }
                }
            }
        }
    }
    .btn-show-list-chosse-cate{
        text-align: center;
        padding-top: 40px;
        a{
            display: inline-block;
            text-decoration: none;
            padding: 25px 125px;
            background: #F5F5F5;
            border: 1px solid #000000;
            border-radius: 10px;
            font-weight: 400;
            font-size: 26px;
            line-height: 35px;
            color: #000000;
        }
    }
}
.home-question{
    padding: 100px 40px;
    .des-line-text{
        p{
            text-align: center;
            font-size: 24px;
            color: #000;
        }
    }
}
.service-bar{
    padding: 0 40px;
    ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
        float: left;
        li {
            float: left;
            .service-item-bar{
                margin-left: 5px;
                margin-right: 5px;
                a{
                    display: inline-block;
                    text-decoration: none;
                    padding: 8px 15px;
                    background-color: #F2F2F2;
                    border-radius: 50px;
                    color: #000;
                }
            }
            .last-item-bar{
                position: relative;
                margin-right: 30px;
                &:before{
                    content:"";
                    position: absolute;
                    top:0;
                    right: 0;
                    height: 100%;
                    width: 1px;
                    background-color: #C4C4C4;
                    transform: translate(17px, 0);
                }
            }
        }
    }
    .service-slide-bar{
        display: inline-block;
        position: relative;
        .service-item-bar{
            margin-left: 5px;
            margin-right: 5px;
            a{
                display: inline-block;
                text-decoration: none;
                padding: 8px 15px;
                background-color: #F2F2F2;
                border-radius: 50px;
                color: #000;
            }
        }
    }
    .swiper-button-next::after, .swiper-button-prev::after {
        content: "";
    }
    .swiper-button-next img, .swiper-button-prev img {
        width: 37px;
    }
    .swiper-button-next{
        right: -5px;
        transform: translate(100%, 0);
    }
    //.swiper-button-disabled{
    //    opacity: 0 !important;
    //}
    .dropdown{
        margin-right: 30px;
        position: relative;
        &:before{
            content:"";
            position: absolute;
            top:0;
            right: 0;
            height: 100%;
            width: 1px;
            background-color: #C4C4C4;
            transform: translate(17px, 0);
        }
        button{
            border-radius: 50px;
            background-color: #fff;
            color: #000;
            font-size: 14px;
            border-color: #C4C4C4;
        }
    }
}
.text-box-slide{
    p{
        margin-bottom: 0;
    }
    .button-navi-slide{
        position: relative;
        height: 100%;
        .slide-home-next::after,.slide-home-prev::after{
             content: "";
        }
        .slide-home-next ,.slide-home-prev{
            top: 50%;
            transform: translate(0, 0);
        }
        .swiper-button-lock{
            display: none;
        }
    }
}
.c-fff{
    color: #fff !important;
}
.bg-FF6673{
    background-color: #FF6673 !important;
}
.bg-2DAD00{
    background-color: #2DAD00 !important;
}
.bg-1A0BCA{
    background-color: #1A0BCA !important;
}
.bg-D1A300{
    background-color: #D1A300 !important;
}
.bg-0B6FCA{
    background-color: #0B6FCA !important;
}
.bg-FF89FF{
    background-color: #FF89FF !important;
}
.bg-00ACD1{
    background-color: #00ACD1 !important;
}
.bg-B4D009{
    background-color: #B4D009 !important;
}
.bg-F39800{
    background-color: #F39800 !important;
}
.bg-FFF3B8{
    background-color: #FFF3B8 !important;
}
.text-center{
    text-align: center !important;
}
.text-deco-unln{
    text-decoration: underline !important;
}
.lh-36{
    line-height: 36px !important;
}
.pd-l-r-40{
    padding-left: 40px !important;
    padding-right: 40px !important;
}
.pd-t-b-30{
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}
.fs-24{
    font-size: 24px !important;
}
.fs-20{
    font-size: 20px !important;
}
.fs-16{
    font-size: 16px !important;
}
.fs-14{
    font-size: 14px !important;
}
.h-100{
    height: 100px;
}
.fl-left{
    float: left !important;
}
.pd-t-b-5{
    padding: 5px 0 !important;
}
.pd-t-b-12{
    padding: 12px 0 !important;
}
.mr-5{
    margin-right: 5px !important;
}
.mb-15{
    margin-bottom: 15px !important;
}
.mtb-15{
    margin-bottom: 15px !important;
    margin-top: 15px !important;
}
.txt-ali-center{
    text-align: center !important;
}
.txt-ali-left{
    text-align: left !important;
}
.txt-ali-right{
    text-align: right !important;
}
.dpl-flex-jtf-cen{
    display:flex !important;
    justify-content: center !important;
}
.dpl-flex-jtf-right{
    display:flex !important;
    justify-content: right !important;
}
.bd-sl-t-1-fff{
    border-top: 1px solid white !important;
}
.bd-sl-b-1-fff{
    border-bottom: 1px solid white !important;
}
@media (max-width: 600px) {
    .header-top{
        p{
            font-size: 12px;
            margin: 11px 0;
            padding-left: 10px;
        }
    }
}
@media (max-width: 375px) {
    .header-top{
        p{
            font-size: 10px;
            margin: 12px 0;
            padding-left: 10px;
        }
    }
}
