// Fonts
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$XS: 575px;
$SM: 576px;
$MD: 769px;
$LG: 992px;
$XL: 1999px;
$XXL: 1319px;
$XXX: 1439px;
$XXXL: 1599px;

// media queries

@mixin Responsive($canvas) {
    @if $canvas == XS {
        @media only screen and (max-width: $XS) {
            @content;
        }
    } @else if $canvas == SM {
        @media only screen and (max-width: $SM) {
            @content;
        }
    } @else if $canvas == MD {
        @media only screen and (max-width: $MD) {
            @content;
        }
    } @else if $canvas == LG {
        @media only screen and (min-width: $LG) {
            @content;
        }
    } @else if $canvas == XL {
        @media only screen and (min-width: $XL) {
            @content;
        }
    } @else if $canvas == XXL {
        @media only screen and (min-width: $XXL) {
            @content;
        }
    } @else if $canvas == XXX {
        @media only screen and (min-width: $XXX) {
            @content;
        }
    } @else if $canvas == XXXL {
        @media only screen and (min-width: $XXXL) {
            @content;
        }
    }
}
@mixin Responsive1($canvas) {
    @if $canvas == XS {
        @media only screen and (max-width: $XS) {
            @content;
        }
    } @else if $canvas == SM {
        @media only screen and (min-width: $SM) {
            @content;
        }
    } @else if $canvas == MD {
        @media only screen and (min-width: $MD) {
            @content;
        }
    } @else if $canvas == LG {
        @media only screen and (min-width: $LG) {
            @content;
        }
    } @else if $canvas == XL {
        @media only screen and (min-width: $XL) {
            @content;
        }
    } @else if $canvas == XXL {
        @media only screen and (min-width: $XXL) {
            @content;
        }
    } @else if $canvas == XXX {
        @media only screen and (min-width: $XXX) {
            @content;
        }
    } @else if $canvas == XXXL {
        @media only screen and (min-width: $XXXL) {
            @content;
        }
    }
}

body {
    font-family: 'M PLUS Rounded 1c', 'Noto Sans JP', sans-serif !important;
    font-size: 14px !important;
}

.warpper {
    //@include Responsive(XS) {
    //    width: 100%;
    //}
    //@include Responsive(SM) {
    //    width: 540px;
    //}
    //@include Responsive(MD) {
    //    width: 720px;
    //}
    //@include Responsive(LG) {
    //    width: 960px;
    //}
    //@include Responsive(XL) {
    //    width: 1200px;
    //}
    //@include Responsive(XXL) {
    //    width: 1200px;
    //}
    //@include Responsive(XXX) {
    //    width: 1200px;
    //}
    //@include Responsive(XXXL) {
    //    width: 1200px;
    //}
    margin-right: auto;
    margin-left: auto;
}

header {
    border-bottom: 1px solid #C4C4C4;
    .logo-page {
        position: relative;
        width: 100%;
        height: 100%;

        img {
            position: absolute;
            top: 50%;
            left: 30px;
            transform: translate(0, -50%);
        }
    }
    .menu-header,.top-header{
        display: flex;
        justify-content: right;
        width: 100%;
    }
    .top-header {
        margin-top: 16px;
        margin-right: 30px;
        .input-search-page{
            width: 200px;
            border-radius: 50px;
            font-size: 12px;
            background-color: #E7E2D9;
            padding: 2.5px 19px 2.5px 33px;
            font-family: 'Noto Sans JP', sans-serif;
        }
        .search-box {
            position: relative;
            margin-right: 38px;
            img{
                position: absolute;
                top: 50%;
                left: 10%;
                transform: translate(-50%, -50%);
            }
        }

        .text-number-header {
            margin-right: 61px;
            img,.number-header{
                float: left;
            }
            .number-header{
                font-family: 'Noto Sans JP';
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 19px;
                color: #3E3A39;
                margin-bottom: 0;
            }
        }

        .text-open-header {
            font-family: 'Noto Sans JP';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 21px;
            color: #000000;
        }
    }
    .menu-header{
        margin-right: 30px;
        .nav{
            padding: 25px 0 10px 0;
            li{
                a{
                    font-family: 'Noto Sans JP';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 23px;
                    color: #000000;
                    padding: 0 20px;
                    text-decoration: none;
                }
            }
        }
    }

}
.btn-register-page{
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #EB6D8E;
    padding: 2px 25px;
    background: #FFFFFF;
    border: 1px solid #EB6D8E;
    border-radius: 5px;
    margin-right: 20px;
}
.btn-login-page{
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #7F7F80;
    background: #FFFFFF;
    border: 1px solid #7F7F80;
    border-radius: 5px;
    padding: 2px 18px;
    margin-right: 20px;
}

@include Responsive(XS) {
    header {
        position: relative;
        .logo-page{
            position: relative;
            left:0;
            padding: 20px 0 20px 20px;
            height: 75px;
            display: flex;
            img{
                width: auto;
                position: relative;
                top: unset;
                left: unset;
                transform: unset;
            }
        }
        .menu-header-mobile{

            .btn-menu-mobile{
                position: absolute;
                top: 50%;
                right: 5%;
                transform: translate(10px, -50%);
                padding: 0;
                background-color: #fff;
                border: none;
                img{
                    width: 33px;
                }

            }
            .btn-close-mobile{
                background-color: transparent;
                border: none;
                position: absolute;
                left: -40px;
            }
        }
        .top-header{
            //margin-top: 20px;
            //margin-left: 20px;
            padding-top: 20px;
            padding-left: 20px;
            padding-right: 40px;
            margin: 0;
            display:block;
            .search-box{
                margin: 0;
            }
            .input-search-page{
                width: 100%;
            }
        }
    }
    #sidebar-backdrop{
        //padding-top: 20px;
        //padding-left: 20px;
        //padding-right: 40px;
    }
    .btn-register-login-mobile{
        display: flex;
        .btn-register-page,.btn-login-page{
            display: inline-block;
            margin-right: 0;
            width: 50%;
            margin: 0 2px;
            text-align: center;
            padding: 0;
            margin-top: 20px;
        }
    }
    .menu-mobile{
        margin-top: 20px;
        ul{
            margin: 0;
            padding: 0;
            list-style-type: none;
            li{
                a{
                    font-family: "Noto Sans JP";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 23px;
                    color: #000000;
                    padding: 5px 0;
                    text-decoration: none;
                    border-bottom: 1px solid #000;
                    display: block;
                }
            }
        }
    }
    .text-number-mobile{
        margin-top: 20px;
        padding: 15px 0;
        border:1px solid #000;
        border-radius: 10px;
        .text-number-header{
            display: flex;
            justify-content: center;
            width: 100%;
        }
        .text-open-header{
            text-align: center;
        }
    }
}
@include Responsive(SM) {
    header {
        position: relative;
        .logo-page{
            position: relative;
            left:0;
            padding: 20px 0 20px 20px;
            height: 75px;
            display: flex;
            img{
                width: auto;
                position: relative;
                top: unset;
                left: unset;
                transform: unset;
            }
        }
        .menu-header-mobile{

            .btn-menu-mobile{
                position: absolute;
                top: 50%;
                right: 5%;
                transform: translate(10px, -50%);
                padding: 0;
                background-color: #fff;
                border: none;
                img{
                    width: 33px;
                }

            }
            .btn-close-mobile{
                background-color: transparent;
                border: none;
                position: absolute;
                left: -40px;
            }
        }
        .top-header{
            //margin-top: 20px;
            //margin-left: 20px;
            padding-top: 20px;
            padding-left: 20px;
            padding-right: 40px;
            margin: 0;
            display:block;
            .search-box{
                margin: 0;
            }
            .input-search-page{
                width: 100%;
            }
        }
    }
    #sidebar-backdrop{
        //padding-top: 20px;
        //padding-left: 20px;
        //padding-right: 40px;
    }
    .btn-register-login-mobile{
        display: flex;
        .btn-register-page,.btn-login-page{
            display: inline-block;
            margin-right: 0;
            width: 50%;
            margin: 0 2px;
            text-align: center;
            padding: 0;
            margin-top: 20px;
        }
    }
    .menu-mobile{
        margin-top: 20px;
        ul{
            margin: 0;
            padding: 0;
            list-style-type: none;
            li{
                a{
                    font-family: "Noto Sans JP";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 23px;
                    color: #000000;
                    padding: 5px 0;
                    text-decoration: none;
                    border-bottom: 1px solid #000;
                    display: block;
                }
            }
        }
    }
    .text-number-mobile{
        margin-top: 20px;
        padding: 15px 0;
        border:1px solid #000;
        border-radius: 10px;
        .text-number-header{
            display: flex;
            justify-content: center;
            width: 100%;
        }
        .text-open-header{
            text-align: center;
        }
    }
}
@include Responsive(MD) {
    header {
        position: relative;
        .logo-page{
            position: relative;
            left:0;
            padding: 20px 0 20px 20px;
            height: 75px;
            display: flex;
            img{
                width: auto;
                position: relative;
                top: unset;
                left: unset;
                transform: unset;
            }
        }
        .menu-header-mobile{

            .btn-menu-mobile{
                position: absolute;
                top: 50%;
                right: 5%;
                transform: translate(10px, -50%);
                padding: 0;
                background-color: #fff;
                border: none;
                img{
                    width: 33px;
                }

            }
            .btn-close-mobile{
                background-color: transparent;
                border: none;
                position: absolute;
                left: -40px;
            }
        }
        .top-header{
            //margin-top: 20px;
            //margin-left: 20px;
            padding-top: 20px;
            padding-left: 20px;
            padding-right: 40px;
            margin: 0;
            display:block;
            .search-box{
                margin: 0;
            }
            .input-search-page{
                width: 100%;
            }
        }
    }
    #sidebar-backdrop{
        //padding-top: 20px;
        //padding-left: 20px;
        //padding-right: 40px;
    }
    .btn-register-login-mobile{
        display: flex;
        .btn-register-page,.btn-login-page{
            display: inline-block;
            margin-right: 0;
            width: 50%;
            margin: 0 2px;
            text-align: center;
            padding: 0;
            margin-top: 20px;
        }
    }
    .menu-mobile{
        margin-top: 20px;
        ul{
            margin: 0;
            padding: 0;
            list-style-type: none;
            li{
                a{
                    font-family: "Noto Sans JP";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 23px;
                    color: #000000;
                    padding: 5px 0;
                    text-decoration: none;
                    border-bottom: 1px solid #000;
                    display: block;
                }
            }
        }
    }
    .text-number-mobile{
        margin-top: 20px;
        padding: 15px 0;
        border:1px solid #000;
        border-radius: 10px;
        .text-number-header{
            display: flex;
            justify-content: center;
            width: 100%;
        }
        .text-open-header{
            text-align: center;
        }
    }
}
footer{
    .box-consultation-method{
        padding: 75px 100px;
        background: linear-gradient(89.76deg, #DDF3F8 0.19%, #DDF3F8 99.8%);
        .content-consultation-method{
            display: flex;
            .title-consultation-method{
                font-style: normal;
                font-weight: 400;
                font-size: 40px;
                line-height: 48px;
                color: #0AAACD;
                margin-right: 48px;
                min-width: 310px;
                img{
                    margin-right: 30px;
                }
            }
            .des-consultation-method{
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 30px;
                color: #0AAACD;
            }
        }
        .contact-method{
            margin-top: 83px;
            margin-left: 42px;
            a{
                text-decoration: none;
            }
            .item-contact-method{
                position: relative;
                background-color: #ffffff;
                width: 160px;
                height: 152px;
                border-radius: 5px;
                .image-method{
                    position: absolute;
                    left: 50%;
                    top: 25%;
                    transform: translate(-50%, -50%)
                }
                .content-contact-method{
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    .title-contact-method{
                        font-style: normal;
                        font-weight: 400;
                        font-size: 26px;
                        line-height: 31px;
                        color: #0AAACD;
                        text-align: center;
                    }
                    .text-contact-method{
                        font-style: normal;
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 15px;
                        color: #7A7573;
                        text-align: center;
                    }
                }
                .cycle-pin-image{
                    position: absolute;
                    left: -50%;
                    top: 0;
                    transform: translate(95%, -25%);
                    width: 60px;
                }
            }
        }
    }
    .footer{
        display: flex;
        padding: 38px 30px;
        .footer-left{

            min-width: 400px;
            .logo-page-footer{
                margin-bottom: 75px;
            }
            .info-footer{
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 25px;
                color: #50432F;
                .text-address{
                    margin-bottom: 0;
                }
            }
        }
        .footer-mid{
            min-width: 255px;
            padding: 10px 30px;
            ul{
                padding: 0;
                margin: 0;
                list-style-type: none;
                li{
                    a{
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 30px;
                        color: #50432F;
                        text-decoration: none;
                    }
                }
            }
        }
        .footer-right{
            padding: 10px 0 10px 23px;
            .text-group-company{
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 30px;
            }
            a{
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 30px;
                color: #50432F;
                text-decoration: none;
            }
        }
    }
}

.icon-bell{
    position: relative;
    bottom: 4px;
}

@include Responsive(XS) {
    footer{
        .box-consultation-method{
            padding: 30px;
            background: linear-gradient(89.76deg, #DDF3F8 0.19%, #DDF3F8 99.8%);
            .content-consultation-method{
                display: block;
                .title-consultation-method{
                    font-family: "Noto Sans JP";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 40px;
                    line-height: 48px;
                    color: #0AAACD;
                    margin-right: 48px;
                    min-width: 310px;
                    img{
                        margin-right: 0px;
                    }
                }
                .des-consultation-method{
                    font-family: "Noto Sans JP";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 30px;
                    color: #0AAACD;
                }
            }
            .contact-method{
                margin-top: 15px;
                margin-left: 25px;
                a{
                    font-family: "Noto Sans JP";
                    text-decoration: none;
                }
                .item-contact-method{
                    position: relative;
                    background-color: #ffffff;
                    width: 100%;
                    height: auto;
                    border-radius: 5px;
                    margin-bottom: 10px;
                    padding: 5px;
                    .image-method{
                        position: relative;
                        left: unset;
                        top: unset;
                        transform: unset;
                        width: 35px;
                        height: 100%;
                        padding: 0px;
                    }
                    .content-contact-method{
                        position: relative;
                        bottom: 0;
                        width: 100%;
                        .title-contact-method{
                            font-family: "Noto Sans JP";
                            font-style: normal;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 40px;
                            color: #0AAACD;
                            text-align: center;
                            margin: 0;
                            position: relative;
                            left: 15px;
                        }
                        .text-contact-method{
                            font-family: "Noto Sans JP";
                            font-style: normal;
                            font-weight: 700;
                            font-size: 8px;
                            line-height: 40px;
                            color: #7A7573;
                            text-align: center;
                            margin: 0;
                        }
                    }
                    .cycle-pin-image{
                        position: absolute;
                        left: 0;
                        top: 0;
                        transform: translate(-50%, -10%);
                        width: 65px;
                    }
                }
            }
        }
        .footer{
            display: flex;
            padding: 20px 30px;

            .footer-left{
                min-width: unset;
                border-bottom:1px solid #000 ;
                padding-bottom: 20px;
                .logo-page-footer{
                    margin-bottom: 25px;
                    position: relative;
                    img{
                        display: flex;
                        margin: auto;
                    }
                }
                .info-footer{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 25px;
                    color: #50432F;
                    text-align: center;
                    .text-address{
                        margin-bottom: 0;
                    }
                }
            }
            .footer-mid{
                text-align: center;
                min-width: 255px;
                padding: 20px 30px;
                border-bottom:1px solid #000 ;
                ul{
                    padding: 0;
                    margin: 0;
                    list-style-type: none;
                    li{
                        a{
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 30px;
                            color: #50432F;
                            text-decoration: none;
                        }
                    }
                }
            }
            .footer-right{
                padding: 20px 0;
                .text-group-company{
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 30px;
                }
                a{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 30px;
                    color: #50432F;
                    text-decoration: none;
                }
            }
        }
    }

}
@include Responsive(SM) {
    footer{
        .box-consultation-method{
            padding: 30px;
            background: linear-gradient(89.76deg, #DDF3F8 0.19%, #DDF3F8 99.8%);
            .content-consultation-method{
                display: block;
                .title-consultation-method{
                    font-family: "Noto Sans JP";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 40px;
                    line-height: 48px;
                    color: #0AAACD;
                    margin-right: 48px;
                    min-width: 310px;
                    img{
                        margin-right: 0px;
                    }
                }
                .des-consultation-method{
                    font-family: "Noto Sans JP";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 30px;
                    color: #0AAACD;
                }
            }
            .contact-method{
                margin-top: 15px;
                margin-left: 25px;
                a{
                    font-family: "Noto Sans JP";
                    text-decoration: none;
                }
                .item-contact-method{
                    position: relative;
                    background-color: #ffffff;
                    width: 100%;
                    height: auto;
                    border-radius: 5px;
                    margin-bottom: 10px;
                    padding: 5px;
                    .image-method{
                        position: relative;
                        left: unset;
                        top: unset;
                        transform: unset;
                        width: 35px;
                        height: 100%;
                        padding: 0px;
                    }
                    .content-contact-method{
                        position: relative;
                        bottom: 0;
                        width: 100%;
                        .title-contact-method{
                            font-family: "Noto Sans JP";
                            font-style: normal;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 40px;
                            color: #0AAACD;
                            text-align: center;
                            margin: 0;
                            position: relative;
                            left: 15px;
                        }
                        .text-contact-method{
                            font-family: "Noto Sans JP";
                            font-style: normal;
                            font-weight: 700;
                            font-size: 8px;
                            line-height: 40px;
                            color: #7A7573;
                            text-align: center;
                            margin: 0;
                        }
                    }
                    .cycle-pin-image{
                        position: absolute;
                        left: 0;
                        top: 0;
                        transform: translate(-50%, -10%);
                        width: 65px;
                    }
                }
            }
        }
        .footer{
            display: flex;
            padding: 20px 30px;

            .footer-left{
                min-width: unset;
                border-bottom:1px solid #000 ;
                padding-bottom: 20px;
                .logo-page-footer{
                    margin-bottom: 25px;
                    position: relative;
                    img{
                        display: flex;
                        margin: auto;
                    }
                }
                .info-footer{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 25px;
                    color: #50432F;
                    text-align: center;
                    .text-address{
                        margin-bottom: 0;
                    }
                }
            }
            .footer-mid{
                text-align: center;
                min-width: 255px;
                padding: 20px 30px;
                border-bottom:1px solid #000 ;
                ul{
                    padding: 0;
                    margin: 0;
                    list-style-type: none;
                    li{
                        a{
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 30px;
                            color: #50432F;
                            text-decoration: none;
                        }
                    }
                }
            }
            .footer-right{
                padding: 20px 0;
                .text-group-company{
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 30px;
                }
                a{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 30px;
                    color: #50432F;
                    text-decoration: none;
                }
            }
        }
    }

}
@include Responsive(MD) {
    footer{
        .box-consultation-method{
            padding: 30px;
            background: linear-gradient(89.76deg, #DDF3F8 0.19%, #DDF3F8 99.8%);
            .content-consultation-method{
                display: block;
                .title-consultation-method{
                    font-family: "Noto Sans JP";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 40px;
                    line-height: 48px;
                    color: #0AAACD;
                    margin-right: 48px;
                    min-width: 310px;
                    img{
                        margin-right: 0px;
                    }
                }
                .des-consultation-method{
                    font-family: "Noto Sans JP";
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 30px;
                    color: #0AAACD;
                }
            }
            .contact-method{
                margin-top: 15px;
                margin-left: 25px;
                a{
                    font-family: "Noto Sans JP";
                    text-decoration: none;
                }
                .item-contact-method{
                    position: relative;
                    background-color: #ffffff;
                    width: 100%;
                    height: auto;
                    border-radius: 5px;
                    margin-bottom: 10px;
                    padding: 5px;
                    .image-method{
                        position: relative;
                        left: unset;
                        top: unset;
                        transform: unset;
                        width: 35px;
                        height: 100%;
                        padding: 0px;
                    }
                    .content-contact-method{
                        position: relative;
                        bottom: 0;
                        width: 100%;
                        .title-contact-method{
                            font-family: "Noto Sans JP";
                            font-style: normal;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 40px;
                            color: #0AAACD;
                            text-align: center;
                            margin: 0;
                            position: relative;
                            left: 15px;
                        }
                        .text-contact-method{
                            font-family: "Noto Sans JP";
                            font-style: normal;
                            font-weight: 700;
                            font-size: 8px;
                            line-height: 40px;
                            color: #7A7573;
                            text-align: center;
                            margin: 0;
                        }
                    }
                    .cycle-pin-image{
                        position: absolute;
                        left: 0;
                        top: 0;
                        transform: translate(-50%, -10%);
                        width: 65px;
                    }
                }
            }
        }
        .footer{
            display: flex;
            padding: 20px 30px;

            .footer-left{
                min-width: unset;
                border-bottom:1px solid #000 ;
                padding-bottom: 20px;
                .logo-page-footer{
                    margin-bottom: 25px;
                    position: relative;
                    img{
                        display: flex;
                        margin: auto;
                    }
                }
                .info-footer{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 25px;
                    color: #50432F;
                    text-align: center;
                    .text-address{
                        margin-bottom: 0;
                    }
                }
            }
            .footer-mid{
                text-align: center;
                min-width: 255px;
                padding: 20px 30px;
                border-bottom:1px solid #000 ;
                ul{
                    padding: 0;
                    margin: 0;
                    list-style-type: none;
                    li{
                        a{
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 30px;
                            color: #50432F;
                            text-decoration: none;
                        }
                    }
                }
            }
            .footer-right{
                padding: 20px 0;
                .text-group-company{
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 30px;
                }
                a{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 30px;
                    color: #50432F;
                    text-decoration: none;
                }
            }
        }
    }
}
.guideline{
    padding: 100px 0;
    .descriotion-guideline{
        margin: 50px 0;
    }
    .list-provisions{
        .list-provisions-title{
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 45px;
            color: #000000;
        }
        ul{
            margin: 0;
            padding: 0;
            list-style-type: none;
            li{
                a{
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 45px;
                    color: #000000;
                    text-decoration: none;
                }
            }
        }
    }
}
.title-line{
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 50px;
    color: #000000;
    z-index: 2;
    position: relative;
    text-align: center;
    background-color: white;
    padding: 0 25px;
    margin-bottom: 70px;
    .text-line{
        position: relative;
        z-index: 3;
        background-color: white;
        display: inline-block;
        margin: 0;
        padding: 0 50px;
    }
    .line{
        position: absolute;
        top:50%;
        left:0;
        width: 100%;
        height: 1px;
        background-color: #C4C4C4;
    }
    .line2{
        position: absolute;
        top:50%;
        left:0;
        width: 100%;
        height: 1px;
        background-color: #C4C4C4;
    }
}

.title-line2{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: #000000;
    z-index: 2;
    position: relative;
    background-color: white;
    display: initial;
    text-align: center;
    width: 100%;
    margin: auto;
    padding: 0 100px;
    .text-line{
        position: relative;
        z-index: 3;
        background-color: white;
        display: inline-block;
        margin: 0;
        padding: 0 20px;
    }
    .line{
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
        width: 100%;
        height: 15px;
        background-color: #ECF0F3;
    }
}
.breadcrumb{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 30px;
        li{
            a,span{
                text-decoration: none;
                font-family: 'Noto Sans JP';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 23px;
                color: #000000;
            }
        }
}
.register{
    .title-register{
        font-family: 'Noto Sans JP';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 43px;
        color: #000000;
        text-align: center;
        margin-bottom: 50px;
    }
}
.small-alert{
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 17px
}
.btn-register{
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    border: none !important;
    padding: 15px 40px !important;
}
.c-red {
    color: red !important;
}
.c-fff {
    color: #fff !important;
}
.db-rds-10{
    border-radius: 10px !important;
}
.bg-EA6D8D {
    background-color: #EA6D8D !important;
}
.bg-FF6673 {
    background-color: #FF6673 !important;
}

.bg-2DAD00 {
    background-color: #2DAD00 !important;
}

.bg-1A0BCA {
    background-color: #1A0BCA !important;
}

.bg-D1A300 {
    background-color: #D1A300 !important;
}

.bg-0B6FCA {
    background-color: #0B6FCA !important;
}

.bg-FF89FF {
    background-color: #FF89FF !important;
}

.bg-00ACD1 {
    background-color: #00ACD1 !important;
}

.bg-B4D009 {
    background-color: #B4D009 !important;
}

.bg-F39800 {
    background-color: #F39800 !important;
}

.bg-FFF3B8 {
    background-color: #FFF3B8 !important;
}

.m-t-95 {
    margin-top: 95px !important;
}

.text-center {
    text-align: center !important;
}

.text-deco-unln {
    text-decoration: underline !important;
}

.lh-36 {
    line-height: 36px !important;
}

.pd-l-r-40 {
    @include Responsive(XS) {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    @include Responsive(XXXL) {
        padding-left: 40px !important;
        padding-right: 40px !important;
    }

}
.mr-b-35 {
    margin-bottom: 35px !important;
}
.pd-t-b-30 {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

.fs-24 {
    font-size: 24px !important;
}

.fs-20 {
    font-size: 20px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.fs-14 {
    font-size: 14px !important;
}

.h-100 {
    height: 100px;
}

.fl-left {
    float: left !important;
}

.pd-t-b-5 {
    padding: 5px 0 !important;
}

.pd-t-b-12 {
    padding: 12px 0 !important;
}
.pd-0 {
    padding: 0 !important;
}

.mr-5 {
    margin-right: 5px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mtb-15 {
    margin-bottom: 15px !important;
    margin-top: 15px !important;
}

.txt-ali-center {
    text-align: center !important;
}

.txt-ali-left {
    text-align: left !important;
}

.txt-ali-right {
    text-align: right !important;
}

.dpl-flex-jtf-cen {
    display: flex !important;
    justify-content: center !important;
}

.dpl-flex-jtf-right {
    display: flex !important;
    justify-content: right !important;
}

.bd-sl-t-1-fff {
    border-top: 1px solid white !important;
}

.bd-sl-b-1-fff {
    border-bottom: 1px solid white !important;
}
.bd-sl-r-1-000{
    border-right:1px solid #000;
}
.bd-none{
    border:none;
}
.hidden-xs {
    @include Responsive(XS) {
        display: none !important;
    }
}

.hidden-sm {
    @include Responsive(SM) {
        display: none !important;
    }
}

.hidden-md {
    @include Responsive(MD) {
        display: none !important;
    }
}

.hidden-lg {
    @include Responsive(LG) {
        display: none !important;
    }
}

.hidden-xl {
    @include Responsive(XL) {
        display: none !important;
    }
}

.hidden-xxl {
    @include Responsive(XXL) {
        display: none !important;
    }
}

.hidden-xxx {
    @include Responsive(XXX) {
        display: none !important;
    }
}

.hidden-xxxl {
    @include Responsive(XXXL) {
        display: none !important;
    }
}

.display-xs {
    @include Responsive(XS) {
        display: block !important;
    }
}

.display-sm {
    @include Responsive(SM) {
        display: block !important;
    }
}

.display-md {
    @include Responsive(MD) {
        display: block !important;
    }
}

.display-lg {
    @include Responsive(LG) {
        display: block !important;
    }
}

.display-xl {
    @include Responsive(XL) {
        display: block !important;
    }
}

.display-xxl {
    @include Responsive(XXL) {
        display: block !important;
    }
}

.display-xxx {
    @include Responsive(XXX) {
        display: block !important;
    }
}

.display-xxxl {
    @include Responsive(XXXL) {
        display: block !important;
    }
}


@media (max-width: 600px) {
    .header-top {
        p {
            font-size: 12px;
            margin: 11px 0;
            padding-left: 10px;
        }
    }
}

@media (max-width: 375px) {
    .header-top {
        p {
            font-size: 10px;
            margin: 12px 0;
            padding-left: 10px;
        }
    }
}
