// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
body{
    font-size: 14px !important;
}
.header-top{
    height: 40px;
    position: relative;
    padding: unset !important;
    border-bottom: 1px solid #C4C4C4;
    p{
        margin-bottom: 0;
        display: inline-block;
        width: calc(100% - 40px);
        border-right: 1px solid #C4C4C4;
        margin: 10px 0;
        padding-left: 40px;
    }
    .menu-top{
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        padding: 5px 8px;
    }
}
.header-mid{
    height: 100px;
    position: relative;
    padding: unset !important;
    border-bottom: 1px solid #C4C4C4;
    p{
        margin-bottom: 0;
    }
    .box-center-top-bot{
        position: relative;
        top: 50%;
        transform: translate(0, -50%);
    }
    .title-logo{
        font-size: 32px;
        font-weight: bold;
        padding-left: 40px;
    }
    .text-phone-header{
        font-size: 32px;
        font-weight: bold;
        text-align: center;
    }
    .text-time-header{
        text-align: center;
    }
    .text-faq{
        font-weight: bold;
        text-align: center;
    }
}
.header-bot {
    height: 70px;
    position: relative;
    padding: unset !important;
    border-bottom: 1px solid #C4C4C4;
    p {
        margin-bottom: 0;
    }
    .horizontal-menu{
        float:right;
        padding: 15px 0;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
        ul{
            list-style-type: none;
            padding: 0;
            float: right;
            margin-bottom: 0;
            li{
                float:left;
                margin: 0 20px;
                a{
                    font-weight: bold;
                    text-decoration: none;
                    color: #212529;
                }
            }
            li.cycle-box{
                padding: 5px;
                border-radius: 50%;
                box-shadow: 0px 0px 5px #0000004d;
            }
            li.rectangle-box{
                padding: 5px;
                border-radius: 50px;
                box-shadow: 0px 0px 5px #0000004d;
            }
        }
    }
}
.bg-FFF3B8{
    background-color: #FFF3B8 !important;
}
.fs-16{
    font-size: 16px !important;
}
.fs-14{
    font-size: 14px !important;
}
.h-100{
    height: 100px;
}
.fl-left{
    float: left !important;
}
.pd-t-b-5{
    padding: 5px 0 !important;
}
.mr-5{
    margin-right: 5px !important;
}
@media (max-width: 600px) {
    .header-top{
        p{
            font-size: 12px;
            margin: 11px 0;
            padding-left: 10px;
        }
    }
}
@media (max-width: 375px) {
    .header-top{
        p{
            font-size: 10px;
            margin: 12px 0;
            padding-left: 10px;
        }
    }
}
