
$XS: 575px;
$SM: 576px;
$MD: 769px;
$LG: 992px;
$XL: 1025px;
$XXL: 1200px;
$XXX: 1439px;
$XXXL: 1599px;

// media queries

@mixin Responsive($canvas) {
    @if $canvas == XS {
        @media only screen and (max-width: $XS) {
            @content;
        }
    } @else if $canvas == SM {
        @media only screen and (max-width: $SM) {
            @content;
        }
    } @else if $canvas == MD {
        @media only screen and (max-width: $MD) {
            @content;
        }
    } @else if $canvas == LG {
        @media only screen and (min-width: $LG) {
            @content;
        }
    } @else if $canvas == XL {
        @media only screen and (min-width: $XL) {
            @content;
        }
    } @else if $canvas == XXL {
        @media only screen and (min-width: $XXL) {
            @content;
        }
    } @else if $canvas == XXX {
        @media only screen and (min-width: $XXX) {
            @content;
        }
    } @else if $canvas == XXXL {
        @media only screen and (min-width: $XXXL) {
            @content;
        }
    }
}

@mixin Responsive1($canvas) {
    @if $canvas == XS {
        @media only screen and (max-width: $XS) {
            @content;
        }
    } @else if $canvas == SM {
        @media only screen and (min-width: $SM) {
            @content;
        }
    } @else if $canvas == MD {
        @media only screen and (min-width: $MD) {
            @content;
        }
    } @else if $canvas == LG {
        @media only screen and (min-width: $LG) {
            @content;
        }
    } @else if $canvas == XL {
        @media only screen and (min-width: $XL) {
            @content;
        }
    } @else if $canvas == XXL {
        @media only screen and (min-width: $XXL) {
            @content;
        }
    } @else if $canvas == XXX {
        @media only screen and (min-width: $XXX) {
            @content;
        }
    } @else if $canvas == XXXL {
        @media only screen and (min-width: $XXXL) {
            @content;
        }
    }
}
.info-homepage {
    @include Responsive1(XS) {
        padding: 0;
    }
    @include Responsive1(SM) {
        padding: 0;
    }
    @include Responsive1(MD) {
        padding: 0 50px;
    }
    @include Responsive1(LG) {
        padding: 0 100px;
    }
    margin-top: 30px;

    .box-list-column {
        @include Responsive1(XS) {
            padding: 0 5px;
        }
        @include Responsive1(SM) {
            padding: 0 15px;
        }
        @include Responsive1(MD) {
            padding: 0 50px;
        }
        @include Responsive1(LG) {
            padding: 0;
        }
        .list-column {
            margin-top: 25px;
            margin-bottom: 30px;

            .item-list-column {
                margin-bottom: 30px;

                .image-item {
                    width: 100%;
                    border-radius: 15px 15px 0 0;
                }

                .description {
                    background-color: #fff;
                    border-radius: 0 0 15px 15px;
                    padding: 10px;

                    .type-of-cate {

                        @include Responsive1(XS) {
                            display: block;
                        }
                        @include Responsive1(SM) {
                            display: block;
                        }
                        @include Responsive1(MD) {
                            display: flex;
                        }
                        @include Responsive1(LG) {
                            display: flex;
                        }

                        p {
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 30px;
                            color: #79684C;
                            margin-bottom: 0;
                            margin-right: 5px;

                            img {
                                margin-right: 5px;
                            }
                        }
                    }

                    .title-item-column {
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 30px;
                        color: #000000;
                        margin-bottom: 0;
                    }
                }
            }

            .btn-show-more {
                display: flex;
                margin: auto;
                text-align: center;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 30px;
                color: #79684C;
                background-color: #fff;
                border: 1px solid #79684C;
                border-radius: 10px;
                padding: 10px 60px;
            }
        }
    }

    .box-list-column1 {
        @include Responsive1(XS) {
            padding: 0 15px;
        }
        @include Responsive1(SM) {
            padding: 0 15px;
        }
        @include Responsive1(MD) {
            padding: 0 50px;
        }
        @include Responsive1(LG) {
            padding: 0;
        }
        .list-column {
            margin-top: 10px;
            margin-bottom: 30px;

            .item-list-column {
                .item-column {
                    padding-top: 15px;
                    padding-bottom: 15px;
                    border-bottom: 1px solid #dbdbdb;

                    .image-item {
                        width: 100%;
                    }

                    .description {
                        //padding: 10px;

                        .type-of-cate {
                            display: flex;

                            p {
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 30px;
                                color: #79684C;
                                margin-bottom: 0;
                                margin-right: 5px;

                                img {
                                    margin-right: 5px;
                                }
                            }
                        }

                        .title-item-column {
                            font-style: normal;
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 30px;
                            color: #000000;
                            margin-bottom: 0;
                        }

                        .content-item-column {
                            font-style: normal;
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 20px;
                            color: #000000;
                            margin-bottom: 0;
                        }

                        .content-ranking {
                            display: flex;

                            .time-article {
                                font-style: normal;
                                font-weight: 400;
                                font-size: 12px;
                                line-height: 20px;
                                color: #9E9E9F;
                                margin-bottom: 0;
                                margin-right: 20px;
                            }

                            .cate-article {
                                font-style: normal;
                                font-weight: 400;
                                font-size: 12px;
                                line-height: 20px;
                                color: #fff;
                                background-color: #79684C;
                                border-radius: 50px;
                                margin-bottom: 0;
                                text-align: center;
                                padding: 2px 10px;
                            }
                        }
                    }
                }
            }
        }

        .pagination {
            justify-content: center;
            margin-top: 20px;

            .page-item.active .page-link {
                background-color: #9cbe5a;
                border-color: #9cbe5a;
            }
        }
    }
    .box-list-column3 {
        @include Responsive1(XS) {
            padding: 0 15px;
        }
        @include Responsive1(SM) {
            padding: 0 15px;
        }
        @include Responsive1(MD) {
            padding: 0 15px;
        }
        @include Responsive1(LG) {
            padding: 0;
        }
        margin-top: 30px;
        @include Responsive1(XS) {
            margin: 0 5px;
        }
        @include Responsive1(SM) {
            margin: 0 5px;
        }

        .list-column {
            margin-top: 10px;
            margin-bottom: 30px;

            .item-list-column {
                .item-column {
                    padding-top: 15px;
                    padding-bottom: 15px;
                    border-bottom: 1px solid #dbdbdb;

                    .image-item {
                        width: 100%;
                    }

                    .description {
                        //padding: 10px;

                        .type-of-cate {
                            display: flex;

                            p {
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 30px;
                                color: #79684C;
                                margin-bottom: 0;
                                margin-right: 5px;

                                img {
                                    margin-right: 5px;
                                }
                            }
                        }

                        .title-item-column {
                            font-style: normal;
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 30px;
                            color: #000000;
                            margin-bottom: 0;
                        }

                        .content-item-column {
                            font-style: normal;
                            font-weight: 700;
                            font-size: 16px;
                            line-height: 20px;
                            color: #000000;
                            margin-bottom: 0;
                        }

                        .content-ranking {
                            display: flex;

                            .time-article {
                                font-style: normal;
                                font-weight: 400;
                                font-size: 12px;
                                line-height: 20px;
                                color: #9E9E9F;
                                margin-bottom: 0;
                                margin-right: 20px;
                            }

                            .cate-article {
                                font-style: normal;
                                font-weight: 400;
                                font-size: 12px;
                                line-height: 20px;
                                color: #fff;
                                background-color: #79684C;
                                border-radius: 50px;
                                margin-bottom: 0;
                                text-align: center;
                                padding: 2px 10px;
                            }
                        }
                    }
                }
            }
        }

        .pagination {
            justify-content: center;
            margin-top: 20px;

            .page-item.active .page-link {
                background-color: #E7AC31;
                border-color: #E7AC31;
            }
        }
    }
}

.thumbnail-left {
    margin-bottom: 30px;
    img {
        width: 100%;
    }
}

.article-ranking {
    .list-article-ranking {
        margin-top: 15px;
        .item-article-ranking {
            margin-bottom: 30px;

            .count-article {
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                margin-bottom: 0;
                text-align: center;
                color: #908C8A;
                font-size: 19px;
                font-style: normal;
                font-weight: 600;
                z-index: 1;

                &:after {
                    content: "";
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    border: 1px solid #908C8A;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            .img-item-article {
                width: 100%;
            }

            .content-ranking {

                .time-article {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 20px;
                    color: #9E9E9F;
                    margin-bottom: 0;
                }

                .cate-article {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 20px;
                    color: #fff;
                    background-color: #79684C;
                    border-radius: 50px;
                    margin-bottom: 0;
                    text-align: center;
                }

                .title-article {
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 20px;
                    color: #000000;
                    margin-bottom: 0;
                }
            }
        }
    }
}
