$XS: 575px;
$SM: 576px;
$MD: 769px;
$LG: 992px;
$XL: 1025px;
$XXL: 1200px;
$XXX: 1439px;
$XXXL: 1599px;

// media queries

@mixin Responsive($canvas) {
    @if $canvas == XS {
        @media only screen and (max-width: $XS) {
            @content;
        }
    } @else if $canvas == SM {
        @media only screen and (max-width: $SM) {
            @content;
        }
    } @else if $canvas == MD {
        @media only screen and (max-width: $MD) {
            @content;
        }
    } @else if $canvas == LG {
        @media only screen and (min-width: $LG) {
            @content;
        }
    } @else if $canvas == XL {
        @media only screen and (min-width: $XL) {
            @content;
        }
    } @else if $canvas == XXL {
        @media only screen and (min-width: $XXL) {
            @content;
        }
    } @else if $canvas == XXX {
        @media only screen and (min-width: $XXX) {
            @content;
        }
    } @else if $canvas == XXXL {
        @media only screen and (min-width: $XXXL) {
            @content;
        }
    }
}

@mixin Responsive1($canvas) {
    @if $canvas == XS {
        @media only screen and (max-width: $XS) {
            @content;
        }
    } @else if $canvas == SM {
        @media only screen and (min-width: $SM) {
            @content;
        }
    } @else if $canvas == MD {
        @media only screen and (min-width: $MD) {
            @content;
        }
    } @else if $canvas == LG {
        @media only screen and (min-width: $LG) {
            @content;
        }
    } @else if $canvas == XL {
        @media only screen and (min-width: $XL) {
            @content;
        }
    } @else if $canvas == XXL {
        @media only screen and (min-width: $XXL) {
            @content;
        }
    } @else if $canvas == XXX {
        @media only screen and (min-width: $XXX) {
            @content;
        }
    } @else if $canvas == XXXL {
        @media only screen and (min-width: $XXXL) {
            @content;
        }
    }
}
.box-consultation-method-1 {
    position: relative;
    background-color: #47bfd9;

    @include Responsive1(XS) {
        padding: 50px;
    }
    @include Responsive1(SM) {
        padding: 50px;
    }
    @include Responsive1(MD) {
        padding: 50px 75px;
    }
    @include Responsive1(LG) {
        padding: 50px 100px;
    }

    .content-consultation-method {
        .text-fisrt-box {
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 20px;
            color: #fff;
            margin-bottom: 30px;
        }

        .title-consultation-method {
            font-style: normal;
            font-weight: 400;
            font-size: 46px;
            line-height: 30px;
            color: #fff;
            margin-right: 40px;
        }

        .text-time-box {
            display: flex;
            position: relative;
            margin-bottom: 60px;

            .image-box {
                position: absolute;
                right: 0px;
                top: 10%;
                transform: translate(10%, -35%);

                img {
                    //width: 270px;
                }
            }
        }

        .text-time-box1 {
            display: block;
            position: relative;
            margin-bottom: 20px;

            .image-box {
                position: relative;
                //left: 50%;
                top: 0;
                //transform: translate(-33%, 0);
                display: flex;
                justify-content: center;

                img {
                    width: 270px;
                }
            }
        }

        .txt-time {
            p {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 30px;
                color: #fff;
                margin-right: 40px;
                margin-bottom: 0;
            }
        }


        .des-consultation-method {
            font-weight: 400;
            font-size: 26px;
            line-height: 30px;
            color: #fff;
            margin-right: 40px;
            margin-bottom: 25px;
            text-align: center;
            //.img-left{
            //    margin-right: 15px;
            //}
            //.img-right{
            //    margin-left: 15px;
            //}
        }

    }

    .contact-method {
        a {
            text-decoration: none;
        }

        .item-contact-method {
            background-color: white;
            border-radius: 10px;
            position: relative;
            padding: 20px 0;

            .cycle-pin-image {
                position: absolute;
                top: 10%;
                left: 4%;
                transform: translate(-50%, -50%);
                width: 65px;
            }

            .image-item-contact {
                min-height: 60px;
                display: flex;
                justify-content: center;

                img {
                    height: 100%;
                }
            }

            .content-contact-method {
                .title-contact-method {
                    font-weight: 400;
                    font-size: 26px;
                    line-height: 30px;
                    color: #0caacd;
                    margin-bottom: 0;
                    text-align: center;
                }

                .text-contact-method {
                    font-weight: 400;
                    font-size: 10px;
                    color: #7F7F80;
                    margin-bottom: 0;
                    text-align: center;
                    margin-top: 16px;
                }
            }
        }
    }

    .contact-method1 {
        a {
            text-decoration: none;
        }

        .item-contact-method {
            background-color: white;
            border-radius: 10px;
            position: relative;
            margin-bottom: 15px;
            min-height: 60px;

            .content-contact-method {
                position: absolute;
                top: 50%;
                transform: translate(0, -50%);
                width: 100%;

                .image-method {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            .cycle-pin-image {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translate(-50%, -50%);
                width: 82px;
            }

            .image-item-contact {
                min-height: 60px;
                display: flex;
                justify-content: center;

                img {
                    height: 100%;
                }
            }

            .content-contact-method {
                .title-contact-method {
                    font-weight: 400;
                    font-size: 26px;
                    line-height: 60px;
                    color: #0caacd;
                    margin-bottom: 0;
                    text-align: center;
                }

                .text-contact-method {
                    font-weight: 400;
                    font-size: 10px;
                    color: #7F7F80;
                    margin-bottom: 0;
                    text-align: center;
                    margin-top: 16px;
                }
            }
        }
    }
}

.box-consultation-method-2 {
    position: relative;
    background-color: #9DBE52;
    @include Responsive1(XS) {
        padding: 50px;
    }
    @include Responsive1(SM) {
        padding: 50px;
    }
    @include Responsive1(MD) {
        padding: 50px 75px;
    }
    @include Responsive1(LG) {
        padding: 50px 100px;
    }

    .content-consultation-method {
        .text-fisrt-box {
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 20px;
            color: #fff;
        }

        .title-consultation-method {
            font-style: normal;
            font-weight: 400;
            font-size: 46px;
            line-height: 30px;
            color: #fff;
            margin-right: 40px;
            margin-top: 15px;
        }

        .text-time-box {
            display: flex;
            position: relative;
            margin-bottom: 60px;

            .image-box {
                position: absolute;
                right: 0px;
                top: 10%;
                transform: translate(10%, -45%);

                img {
                    //width: 270px;
                }
            }
        }

        .text-time-box1 {
            display: block;
            position: relative;
            margin-bottom: 20px;

            .image-box {
                position: relative;
                //left: 50%;
                top: 0;
                //transform: translate(-23%, 0);
                display: flex;
                justify-content: center;

                .image-box {
                    position: absolute;
                    right: 0;
                    top: 40%;
                    transform: translate(10%, -45%);

                    img {
                        width: 270px;
                    }
                }

            }
        }

        .txt-time {
            p {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 30px;
                color: #fff;
                margin-right: 40px;
                margin-bottom: 0;
            }
        }


        .des-consultation-method {
            font-weight: 400;
            font-size: 26px;
            line-height: 30px;
            color: #fff;
            margin-right: 40px;
            margin-bottom: 45px;
            text-align: center;
            //.img-left{
            //    margin-right: 15px;
            //}
            //.img-right{
            //    margin-left: 15px;
            //}
        }

    }

    .contact-method {
        a {
            text-decoration: none;
        }

        .item-contact-method {
            background-color: white;
            border-radius: 10px;
            position: relative;
            padding: 5px;
            margin-bottom: 15px;

            span {
                color: #79684C;
            }

            .cycle-pin-image {
                position: absolute;
                top: 0;
                left: 0;
                transform: translate(-50%, -50%);
            }

            .image-item-contact {
                min-height: 95px;
                display: flex;
                justify-content: center;

                img {
                    height: 100%;
                }
            }

            .content-contact-method {
                .title-contact-method {
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 30px;
                    color: #9dbe52;
                    margin-bottom: 0;
                    text-align: center;
                    position: relative;
                    //top: 50%;
                    //transform: translate(15%, -20%);
                }

                .text-contact-method {
                    font-weight: 400;
                    font-size: 10px;
                    color: #7F7F80;
                    margin-bottom: 0;
                    text-align: center;
                    margin-top: 16px;
                }
            }
        }
    }

    .contact-method1 {
        a {
            text-decoration: none;
        }

        .item-contact-method {
            background-color: white;
            border-radius: 10px;
            position: relative;
            margin-bottom: 15px;
            min-height: 90px;

            .content-contact-method {
                position: absolute;
                top: 50%;
                transform: translate(0, -50%);
                width: 100%;

                .image-method {
                    position: relative;
                    top: 50%;
                    left: 0;
                    transform: translate(0, -50%);
                    width: 70px;
                    height: 70px;
                }
            }

            .cycle-pin-image {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translate(-50%, -50%);
                width: 82px;
            }

            .image-item-contact {
                min-height: 60px;
                display: flex;
                justify-content: center;

                img {
                    height: 100%;
                }
            }

            .content-contact-method {
                .title-contact-method {
                    font-weight: 400;

                    color: #9cbe5a;
                    margin-bottom: 0;
                    text-align: center;
                    @include Responsive1(XS) {
                        font-size: 18px;
                        line-height: 35px;
                        margin: auto;
                        margin-right: 0;
                        margin-left: 0;
                        width: 100%;
                    }
                    @include Responsive1(SM) {
                        font-size: 18px;
                        line-height: 35px;
                        margin: auto;
                        margin-right: 0;
                        margin-left: 0;
                        width: 100%;
                    }
                    @include Responsive1(MD) {
                        font-size: 26px;
                        line-height: 60px;
                    }
                    @include Responsive1(LG) {
                        font-size: 26px;
                        line-height: 60px;
                    }

                    span {
                        color: #79684e;
                    }
                }

                .text-contact-method {
                    font-weight: 400;
                    font-size: 10px;
                    color: #7F7F80;
                    margin-bottom: 0;
                    text-align: center;
                    margin-top: 16px;
                }
            }
        }
    }
}

.box-consultation-method-3 {
    position: relative;
    background-color: #4D8DC5;
    @include Responsive1(XS) {
        padding: 50px;
    }
    @include Responsive1(SM) {
        padding: 50px;
    }
    @include Responsive1(MD) {
        padding: 50px 75px;
    }
    @include Responsive1(LG) {
        padding: 50px 100px;
    }

    .content-consultation-method {
        .text-fisrt-box {
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 20px;
            color: #fff;
        }

        .title-consultation-method {
            font-style: normal;
            font-weight: 400;
            font-size: 46px;
            line-height: 30px;
            color: #fff;
            margin-right: 40px;
            margin-top: 15px;
        }

        .text-time-box {
            display: flex;
            position: relative;

            .image-box {
                position: absolute;
                right: 0;
                top: 40%;
                transform: translate(10%, -50%);
            }
        }

        .text-time-box1 {
            display: flex;
            position: relative;

            .image-box {
                position: relative;
                right: 0;
                top: 0;
                transform: translate(23%, 0%);
                display: inline-block
            }
        }

        .txt-time {
            p {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 30px;
                color: #fff;
                margin-right: 40px;
                margin-bottom: 0;
            }
        }

        .image-box {
            position: absolute;
            right: 0;
            top: 40%;
            transform: translate(10%, -50%);
        }

    }
}

.box-consultation-method-4 {
    position: relative;
    background-color: #9DBE52;
    @include Responsive1(XS) {
        padding: 20px ;
    }
    @include Responsive1(SM) {
        padding: 20px;
    }
    @include Responsive1(MD) {
        padding: 20px 75px;
    }
    @include Responsive1(LG) {
        padding: 20px 100px;
    }


    //margin-bottom: 30px;
    .breadcrumb {
        margin-top: 0 !important;
        margin-left: 0 !important;
        margin-bottom: 20px !important;
    }

    .content-consultation-method {
        .text-fisrt-box {
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            color: #fff;
            @include Responsive1(XS) {
                font-size: 14px;
            }
            @include Responsive1(SM) {
                font-size: 16px;
            }
            @include Responsive1(MD) {
                font-size: 20px;
            }
            @include Responsive1(LG) {
                font-size: 20px;
            }

        }

        .title-consultation-method {
            font-style: normal;
            font-weight: 400;

            line-height: 30px;
            color: #fff;
            margin-right: 40px;
            margin-top: 15px;
            margin-bottom: 0;
            @include Responsive1(XS) {
                font-size: 28px;
                img{
                    width: 55px;
                }
            }
            @include Responsive1(SM) {
                font-size: 28px;
                img{
                    width: 55px;
                }
            }
            @include Responsive1(MD) {
                font-size: 46px;
                img{
                    width: auto;
                }
            }
            @include Responsive1(LG) {
                font-size: 46px;
                img{
                    width: auto;
                }
            }


        }

        .text-time-box {

            position: relative;
            @include Responsive1(XS) {
                display: block;
            }
            @include Responsive1(SM) {
                display: block;
            }
            @include Responsive1(MD) {
                display: flex;
            }
            @include Responsive1(LG) {
                display: flex;
            }

        }

        .txt-time {
            @include Responsive1(XS) {
                text-align: center;
            }
            @include Responsive1(SM) {
                text-align: center;
            }
            p {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 30px;
                color: #fff;
                margin-bottom: 0;
            }

            .tpc {
                margin-bottom: 0;

                bottom: 0;


                border-top: 1px solid #fff;
                border-bottom: 1px solid #fff;
                @include Responsive1(XS) {
                    position: relative;
                    display: inline-block;
                    left: 0;
                    padding: 10px 40px;
                    transform: unset;
                    margin-top: 50px;
                }
                @include Responsive1(SM) {
                    position: relative;
                    display: inline-block;
                    left: 0;
                    padding: 10px 40px;
                    transform: unset;
                    margin-top: 50px;
                }
                @include Responsive1(MD) {
                    position: relative;
                    left: 10px;
                    padding: 10px 50px;
                    transform: translate(10%, -30%);
                }
                @include Responsive1(LG) {
                    position: relative;
                    left: 10px;
                    padding: 10px 50px;
                    transform: translate(10%, -30%);
                }

            }
        }

        .image-box {
            position: absolute;
            top: 0;
            transform: translate(10%, -50%);
            @include Responsive1(XS) {
                background-color: transparent;
                right: 5%;
                img{
                    width: 120px;
                }
            }
            @include Responsive1(SM) {
                background-color: transparent;
                right: 5%;
                img{
                    width: 120px;
                }
            }
            @include Responsive1(MD) {

                right: 0;
                img{
                    width: auto;
                }
            }
            @include Responsive1(LG) {

                right: 0;
                img{
                    width: auto;
                }
            }

        }
    }
}
.box-consultation-method-5 {
    position: relative;
    background-color: #E7AC31;
    @include Responsive1(XS) {
        padding: 20px ;
    }
    @include Responsive1(SM) {
        padding: 20px;
    }
    @include Responsive1(MD) {
        padding: 20px 75px;
    }
    @include Responsive1(LG) {
        padding: 20px 100px;
    }
    //margin-bottom: 30px;
    .breadcrumb {
        margin-top: 0 !important;
        margin-left: 0 !important;
        margin-bottom: 20px !important;
    }

    .content-consultation-method {
        .text-fisrt-box {
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            color: #fff;
            @include Responsive1(XS) {
                font-size: 14px;
            }
            @include Responsive1(SM) {
                font-size: 16px;
            }
            @include Responsive1(MD) {
                font-size: 20px;
            }
            @include Responsive1(LG) {
                font-size: 20px;
            }
        }

        .title-consultation-method {
            font-style: normal;
            font-weight: 400;
            line-height: 30px;
            color: #fff;
            margin-right: 40px;
            margin-top: 15px;
            margin-bottom: 0;
            @include Responsive1(XS) {
                font-size: 24px;
                margin-bottom: 60px;
                img{
                    width: 55px;
                }
            }
            @include Responsive1(SM) {
                font-size: 24px;
                img{
                    width: 55px;
                }
                margin-bottom: 60px;
            }
            @include Responsive1(MD) {
                font-size: 46px;
                img{
                    width: auto;
                }
            }
            @include Responsive1(LG) {
                font-size: 46px;
                img{
                    width: auto;
                }
            }
        }

        .text-time-box {

            position: relative;
            @include Responsive1(XS) {
                display: block;
            }
            @include Responsive1(SM) {
                display: block;
            }
            @include Responsive1(MD) {
                display: flex;
            }
            @include Responsive1(LG) {
                display: flex;
            }
        }

        .txt-time {
            @include Responsive1(XS) {
                text-align: center;
            }
            @include Responsive1(SM) {
                text-align: center;
            }
            p {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 30px;
                color: #fff;
                margin-bottom: 0;
            }

            .tpc {
                margin-bottom: 0;

                bottom: 0;


                border-top: 1px solid #fff;
                border-bottom: 1px solid #fff;
                @include Responsive1(XS) {
                    position: relative;
                    display: inline-block;
                    left: 0;
                    padding: 10px 40px;
                    transform: unset;
                    margin-top: 50px;
                }
                @include Responsive1(SM) {
                    position: relative;
                    display: inline-block;
                    left: 0;
                    padding: 10px 40px;
                    transform: unset;
                    margin-top: 50px;
                }
                @include Responsive1(MD) {
                    position: relative;
                    left: 10px;
                    padding: 10px 50px;
                    transform: translate(10%, -30%);
                }
                @include Responsive1(LG) {
                    position: relative;
                    left: 10px;
                    padding: 10px 50px;
                    transform: translate(10%, -30%);
                }
            }
        }

        .image-box {
            position: absolute;
            right: 0;
            top: 1px;

            @include Responsive1(XS) {
                transform: translate(10%, 18%);
                img{
                    width: 200px;
                }
            }
            @include Responsive1(SM) {
                transform: translate(10%, 18%);
                img{
                    width: 200px;
                }
            }
            @include Responsive1(MD) {
                transform: translate(10%, 18%);
                img{
                    width: auto;
                }
            }
            @include Responsive1(LG) {
                transform: translate(10%, -18%);
                img{
                    width: auto;
                }
            }

        }
    }
}
