$XS: 575px;
$SM: 576px;
$MD: 769px;
$LG: 992px;
$XL: 1025px;
$XXL: 1200px;
$XXX: 1439px;
$XXXL: 1599px;

// media queries

@mixin Responsive($canvas) {
    @if $canvas == XS {
        @media only screen and (max-width: $XS) {
            @content;
        }
    } @else if $canvas == SM {
        @media only screen and (max-width: $SM) {
            @content;
        }
    } @else if $canvas == MD {
        @media only screen and (max-width: $MD) {
            @content;
        }
    } @else if $canvas == LG {
        @media only screen and (min-width: $LG) {
            @content;
        }
    } @else if $canvas == XL {
        @media only screen and (min-width: $XL) {
            @content;
        }
    } @else if $canvas == XXL {
        @media only screen and (min-width: $XXL) {
            @content;
        }
    } @else if $canvas == XXX {
        @media only screen and (min-width: $XXX) {
            @content;
        }
    } @else if $canvas == XXXL {
        @media only screen and (min-width: $XXXL) {
            @content;
        }
    }
}

@mixin Responsive1($canvas) {
    @if $canvas == XS {
        @media only screen and (max-width: $XS) {
            @content;
        }
    } @else if $canvas == SM {
        @media only screen and (min-width: $SM) {
            @content;
        }
    } @else if $canvas == MD {
        @media only screen and (min-width: $MD) {
            @content;
        }
    } @else if $canvas == LG {
        @media only screen and (min-width: $LG) {
            @content;
        }
    } @else if $canvas == XL {
        @media only screen and (min-width: $XL) {
            @content;
        }
    } @else if $canvas == XXL {
        @media only screen and (min-width: $XXL) {
            @content;
        }
    } @else if $canvas == XXX {
        @media only screen and (min-width: $XXX) {
            @content;
        }
    } @else if $canvas == XXXL {
        @media only screen and (min-width: $XXXL) {
            @content;
        }
    }
}
.manager-introduction {
    .short-profile-nurs {
        position: relative;
        background-color: #fff;
        border-radius: 0 0 15px 15px;
        margin-bottom: 30px;
        .btn-contact-x {
            font-size: 14px;
            border-radius: 10px;
            color: #fff;
            background-color: #0AAACD;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            border: none;

            margin-top: 10px;
            @include Responsive1(MD) {
                display: block;
                margin: auto;
            }
            @include Responsive1(LG) {
                display: block;
                margin: auto;
            }
        }

        .text-bottom {
            border-top:1px solid #333;
        }

        .person-position {
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px;
            display: inline-block;
            margin-bottom: 0;
        }

        .name-manager {
            font-size: 18px;
            font-weight: 700;
            font-style: normal;
            line-height: 20px;
            display: inline-block;
            margin-bottom: 0;
        }
        .info-bg{
            background-color: #FAEED6;
            padding: 10px;
            border-radius: 15px;
        }
        .text-intro-bot{
            padding: 10px;
        }
    }
}
