#header {
    border-bottom: 1px solid #C4C4C4;
}

.content {
    background-color: #FCF9FC;
}

.mainimg {
    display: none;
}

.mainimg.no {
    display: none;
}

.bread {
    display: flex;
    margin-bottom: 45px;
    padding-top: 106px;
    padding-left: 20px;
}

.bread li a {
    font-size: 1.6rem;
    font-weight: normal;
    position: relative;
    padding: 0 3px 0 14px;
    font-family: 'Sawarabi Mincho', serif;
}

.bread li a::after {
    content: '>';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.bread li:first-child a::after {
    content: '';
}
.question {
    margin-bottom: 650px;
}
.question .bg-title {
    font-size: 3.6rem;
    line-height: 1.4;
    font-weight: normal;
    font-family: 'Sawarabi Mincho', serif;
    text-align: center;
    color: #000000;
    position: relative;
    z-index: 9;
    margin-bottom: 40px;
}

.question .bg-title span {
    background-color: #FCF9FC;
    padding: 0 30px;
}

.question .bg-title::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 100%;
    height: 1px;
    background-color: #C4C4C4;
    z-index: -1;
}

.question .title {
    font-size: 2.5rem;
    line-height: 1.4;
    font-weight: normal;
    font-family: 'Sawarabi Mincho', serif;
    position: relative;
    z-index: 9;
    text-align: center;
    max-width: 440px;
    width: 100%;
    margin-bottom: 32px;
}

.question .title::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background: #ECF0F3;
    width: 100%;
    height: 25px;
    z-index: -1;
}

.question .title span {
    background-color: #FCF9FC;
    padding: 0 22px;
}
.question .text{
    font-size: 2.6rem;
    line-height: 1.4;
    font-weight: normal;
    font-family: 'Sawarabi Mincho', serif;
    color:#000000;
    background-color: #FFF;
    box-shadow: 0 2px 10px 0 #00000040;
    border-radius: 10px;
    padding: 22px 10px 22px 23px;
    margin-bottom: 20px;
}
.question .card{
    border: none;
    margin-bottom: 20px;
    border-radius: 10px;
}
.question .card-header{
    background-color: transparent;
    border-bottom: none;
}
.question .btn-q{
    font-size: 2.6rem;
    line-height: 1.4;
    font-weight: normal;
    font-family: 'Sawarabi Mincho', serif;
    color:#000000;
    background-color: #FFF;
    box-shadow: 0 2px 10px 0 #00000040;
    border-radius: 10px;
    padding: 22px 10px 22px 23px;
    /*margin-bottom: 20px;*/
    width: 100%;
    text-align: left;
}
.question .text-box{
    margin-bottom: 36px;
}
.index_banner .bg-title {
    font-size: 4rem;
    line-height: 1.4;
    color: #0AAACD;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0;
}

.index_banner .bg-title span {
    background: url('../img/icon29.png') left center no-repeat;
    padding: 10px 0 10px 100px;
}

.index_banner .text {
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
    line-height: 1.875;
    font-weight: 400;
}

.index_banner .att {
    font-weight: normal;
    font-family: 'Inter', sans-serif;
}

.index_banner .article .note {
    font-family: 'Inter', sans-serif;
}

.index_banner .num {
    font-family: 'Inter', sans-serif;
    font-weight: normal;

}

.f-info {
    font-weight: normal;
    font-family: 'Inter', sans-serif;
    color: #50432F;

}

.f-box__center .list li a {
    font-size: 1.4rem;
    font-weight: normal;
    font-family: 'Inter', sans-serif;
    color: #50432F;
}

.f-box__right .f-title {
    color: #50432F;
    font-family: 'Inter', sans-serif;

}

.f-box__right .info-box .list-info li a {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    color: #50432F;
}
